[Desktop Entry]
Categories=GNOME;GTK;Settings;
Exec=tuquito-control-center
GenericName[es]=La herramienta de configuración de Tuquito
GenericName=The Tuquito configuration tool
Icon=gnome-control-center
Name=Control Center
NoDisplay=false
OnlyShowIn=GNOME;
StartupNotify=true
Terminal=false
Type=Application
